body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}

a:hover {
  color: #179b77;
}

#createIframe,
.hidden {
  display: none;
}

#arsipin,
body>.plyr,
#fluid_video_wrapper_video {
  position: absolute;
  width: 100% !important;
  height: 100% !important
}

.jw-button-color:hover,
.jw-toggle,
.jw-toggle:hover,
.jw-open,
.jw-progress {
  color: #008fee !important;
}

.jw-active-option {
  background-color: #008fee !important;
}

.jw-progress {
  background: #008fee !important;
}

.jw-skin-seven .jw-toggle.jw-off {
  color: #fff !important
}

.form {
  background: rgba(19, 35, 47, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #179b77;
  color: #fff;
}

.tab-group .active a {
  background: #1ab188;
  color: #fff;
}

.tab-content>div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  color: rgba(255, 255, 255, .5);
  transition: all 0.25s ease;
  font-size: 14px;
  margin-left: 5px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

input,
textarea,
select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  margin-top: 5px;
}

select option {
  background-color: rgba(19, 35, 47, .9);
  ;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.button,
.useLocal {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button:hover,
.button:focus,
.useLocal:hover {
  background: #179b77;
}

.useLocal {
  font-size: inherit;
  padding: 5px;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 0px;
  margin-top: 5px;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.box_item_ads_popup {
  position: fixed;
  z-index: 999;
  left: 0;
  margin: 0 auto;
  text-align: center;
  right: 0
}

.box_item_ads_popup img {
  max-width: 350px;
  max-height: 350px
}

.box_item_ads_popup .close-button {
  width: 30%;
  margin: auto;
  padding: 6px 10px;
  background: red;
  font-size: 11px;
  color: #fff;
}



.box_item_ads_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  width: 460px;
  height: 100%;
  opacity: 0;
  transition: opacity .3s ease-in;
}

@media only screen and (max-width:980px) {
  .box_item_ads_popup img {
    max-width: 300px;
    max-height: 250px
  }

  .box_item_ads_popup {
    width: 450px;
  }
}

@media only screen and (max-width:480px) {
  .box_item_ads_popup img {
    max-width: 280px;
    max-height: 170px
  }

  .box_item_ads_popup {
    width: 335px;
  }
}

@media only screen and (max-width:425px) {
  .box_item_ads_popup img {
    max-width: 250px;
    max-height: 140px
  }

  .box_item_ads_popup {
    width: 335px;
  }
}

@media only screen and (max-width:320px) {
  .box_item_ads_popup img {
    max-width: 210px;
    max-height: 120px
  }

  .box_item_ads_popup {
    width: 335px;
  }
}